@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  -webkit-overflow-scrolling: touch;

  --color-primary: #3949ab;
  --primary-light: #d9d9ff;
}

*::-webkit-scrollbar {
  width: 7px !important;
  height: 7px !important;
}

*::-webkit-scrollbar-track {
  background: white !important;
}

*::-webkit-scrollbar-thumb {
  background-color: #d3d5d8 !important;
  border-radius: 1rem !important;
  border: none !important;
}
